.shop-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.items h2 {
  margin: 1rem 0;
  display: flex;
  justify-self: start;
  padding: 5px 8px;
  border: 2px dashed #ccc;
}

.items a {
  text-decoration: none;
  color: #252525;
}
